<html>

  <head>
    <script src="http://localhost:9810/compile?id=filemanager"></script>
    <script>
      var fileFetcher = new rackspace.filemanager.FileFetcher();
      var request = fileFetcher.getRequest();
      fileFetcher.getFiles();
    </script>
  </head>

  <body>
  </body>
</html>
