<html>

  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"></style>
    <script src="http://localhost:9810/compile?id=app"></script>
    <script>
      goog.require("ui.cloud_files.ContainerTable");

      function doit(){
        var table = new ui.cloud_files.ContainerTable();
        table.load();
      }
    </script>
  </head>

  <body onload="doit()">
    <input type="button" value="Add Container" onclick="showAddContainerDialog()" />
    <div id="containers">
    </div>
  </body>
</html>
