{namespace ui.cloud_files}
/**
 * Container Table Impl
 * @param containers The containers.
 * 
 */
{template .ContainerTableTmpl}
<table>
  <tr>
    <th>Name</th>
    <th>Files</th>
    <th>Size</th>
  </tr>
  {foreach $container in $containers}
  <tr>
    <td>{$container.name}</td>
    <td>{$container.count}</td>
    <td>{$container.bytes}</td>
  </tr>
  {/foreach}
</table>
{/template}
