{namespace rackspace.ui.cloud_files}
/**
 * Container Table Impl
 * @param containers Cloud Files containers
 */
{template .container_table_tmpl}
<table>
  <tr> 
    <th>Name</th>
    <th>Files</th>
    <th>Size</th>
  </tr>
  {foreach $container in $containers}
    <tr>
      <td>{$container.name}</td>
      <td>{$container.count}</td>
      <td>{$container.bytes}</td>
    </tr>
  {/foreach}
</table>
{/template}
